.header {
  padding: 32px 0;
  border-bottom: 1px solid #575656;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 24px #ebebeb;
}

.input {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  border: none;
  border-bottom: 0.5px solid #575656;
  padding: 0 5px;
  outline: none;
  width: 180px;
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.button_filter {
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 24px #ebebeb;
  margin: 16px;
  padding: auto;
  transition: all 0.3s;
}

.button_filter:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 24px #bbbbbb;
}

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}
