.header {
  padding: 32px 0;
  border-bottom: 1px solid #575656;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 24px #ebebeb;
}

.input {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  border: none;
  border-bottom: 0.5px solid #575656;
  padding: 0 5px;
  outline: none;
  width: 180px;
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
